*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color:#000;
}


.intro_bg{
    width: 100%;
    height: 718px;
    position:relative;
}
.intro_bg::before{
    content: "";
    background-image:url("image/main2night.jpg");
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.header{
    display:flex;
    width:1280px;
    margin:auto;
    height:86px;
}

.rogo{
    border-radius: 5px;
    margin-top:24px;
    position: relative;
}


.nav{
    display:flex;
    justify-content: flex-end;
    line-height:86px;
    width:calc(1280px - 300px);
    position: relative;
}

.nav > li{
    margin-left:84px;
}

.nav > li > a{
    color:#fff;
}

.intro_text{
    width:100%;
    margin:250px auto 231px auto;
    color:#fff;
    text-align: center;
}

.intro_text > h1{
    font-size: 48px;
    font-weight: lighter;
    letter-spacing: 5px;
    position: relative;
}

.intro_text > h2{
    font-size: 20px;
    font-weight: lighter;
    position:relative;
}

.intro_text > h1,
.intro_text > h2{
    color:#fff;
}

.middle{
    position: relative;
    top:-66px;
    display: flex;
    width:1280px;
    background: #fff;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}

.middle > li {
    flex: 1;
    height: 132px;
}

.middle > li > div {
    text-align: center;
    margin-top:37px;
    height:57px;
    line-height: 30px;
}

.middle > li:not(:last-child) > div{
    border-right:2px solid gray;
}

.contents1{
    margin-top:10px;
    font-size:28px;
}

.result{
    font-size: 20px;
    font-weight:lighter;
}

/* ABOUT */

.main_text0{
    width: 100%;
    height:601px;
    margin-top:-30px;
    background: #f1f2f3;
}

.main_text0 > h1{
    padding-top:116px;
    text-align: center;
    font-size:60px;
}

/* SERVICE 컨텐츠 */

.main_text0 > .contents1 {
    text-align: center;
    font-size: 20px;
}

.icons{
    display: flex;
    width:1280px;
    height: 302px;
    margin: auto;
}

.icons > li {
    flex: 1;
    background: #fff;
    margin-top:30px;
    height:302px;
    text-align: center;
}

.icons > li > .icon_img{
    margin-top:30px;
}

.icons > li:not(:last-child) {
    margin-right: 20px;
}

.contents1_bold{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 4px;
}

.icons .contents2{
    width:240px;
    margin:auto;
    font-size:15px;
    font-weight: lighter;
    margin-top: 1px;
    letter-spacing: -1px;
}

.more{
    width:100px;
    height:30px;
    color: #2f7af4;
    font-size:12px;
    line-height:30px;
    margin:15px auto;
}

/* ABOUT 슬라이드 컨텐츠 */

.main_text1{
    width: 100%;
    height:900px;
    margin-top: 50px;
  }
  .main_text1 > h1{
    padding-top:50px;
    text-align: center;
    font-size:60px;
  }
  .main_text1 > .contents1 {
    text-align: center;
    margin-bottom: 70px;
    font-size:20px;
  }
  .service {
    width:1280px;
    display: flex;
    margin: 49px auto;
    height:427px;
  }  

.section {
    margin-bottom:70px;
}

.section input[id*="slide"] {
    display:flex;
}

.section input[type="radio"]{
    display : none;
}

.section .slidewrap {
    max-width: 1200px;
    margin:0 auto;
    overflow:hidden;
}

.section .slidelist {
    white-space: nowrap;
    font-size:0;
}

.section .slidelist > li {
    display:inline-block;
    vertical-align:middle;
    width:100%;
    transition:all .5s;
}

.section .slidelist > li > a img {
    width:100%;
}

.section .slidelist label {
    position:absolute;
    z-index:10;
    top:50%;
    transform:translateY(-50%);
    padding:50px;
    cursor:pointer;
}

.section .slidelist .left {
    left: 0px;
    background:url('./image/leftarrow.png') center center / 80% no-repeat;
    opacity: 0.6;
    width:30px;
    height:30px;
}

.section .slidelist .right {
    right: 0px;
    background: url('./image/rightarrow.png') center center / 80% no-repeat;
    opacity: 0.6;
    width:30px;
    height:30px;
}

.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}
.section [id="slide04"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-300%);}
.section [id="slide05"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-400%);}
.section [id="slide06"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-500%);}
.section [id="slide07"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-600%);}
.section [id="slide08"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-700%);}
.section [id="slide09"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-800%);}
.section [id="slide10"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-900%);}
.section [id="slide11"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-1000%);}


/* bullets 이동슬라이더 */

.bullets {
    position: relative;
    text-align: center;
    top:20px;
}

.bullets label{
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.55);
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.section input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: black;
}
.section input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: black;
}
.section input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color: black;
}
.section input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
    background-color: black;
}
.section input[type=radio]:nth-child(5):checked~.bullets>label:nth-child(5){
    background-color: black;
}
.section input[type=radio]:nth-child(6):checked~.bullets>label:nth-child(6){
    background-color: black;
}
.section input[type=radio]:nth-child(7):checked~.bullets>label:nth-child(7){
    background-color: black;
}
.section input[type=radio]:nth-child(8):checked~.bullets>label:nth-child(8){
    background-color: black;
}
.section input[type=radio]:nth-child(9):checked~.bullets>label:nth-child(9){
    background-color: black;
}
.section input[type=radio]:nth-child(10):checked~.bullets>label:nth-child(10){
    background-color: black;
}
.section input[type=radio]:nth-child(11):checked~.bullets>label:nth-child(11){
    background-color: black;
}

/* GALLERY */

.main_text2{
    width: 100%;
    height:1200px;
    margin-top: 50px;
  }
  .main_text2 > h1{
    padding-top:50px;
    text-align: center;
    font-size:60px;
  }
  .main_text2 > .contents3 {
    text-align: center;
    margin-bottom: 70px;
    font-size:20px;
  }
  
/* grid gallery */

.grid-container {
    display: grid;
    grid-template-columns: 1200px;
    grid-gap: 1em;
    justify-content: center;
    align-content: center;
    margin-bottom: 100px;
  }
  
  
  /* hover styles */
  .location-listing {
    position: relative;
  }
  
  .location-image {
    line-height: 0;
    overflow: hidden;
  }
  
  .location-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }
  
  .location-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90,0,10,0.4);
    color: white;
    
    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .location-listing:hover .location-title {
    opacity: 1;
  }
  
  .location-listing:hover .location-image img {
    filter: blur(2px);
  }
  
  
  /* for touch screen devices */
  @media (hover: none) { 
    .location-title {
      opacity: 1;
    }
    .location-image img {
      filter: blur(2px);
    }
  }


/* footer */

.footer{
    display: flex;
    background: #1f1f1f;
    padding:30px;
  }
  
  .footer > div:first-child {
    flex:3;
    text-align: center;
    color: #fff;
  }
  .footer > div:last-child {
    flex:9;
    color: #fff;
  }